import 'package:flutter_modular/flutter_modular.dart';
import '../../{{repositoryPathInterface}}/{{repositoryNameFileInterface.snakeCase}}.dart';

final ${{repositoryNameClass.pascalCase}} = BindInject(
  (i) => {{repositoryNameClass.pascalCase}}(),
  isSingleton: true,
  isLazy: true,
);

class {{repositoryNameClass.pascalCase}} implements {{repositoryNameClassInterface.pascalCase}} {
  @override
  Future<void> call() {
    // TODO: implement call
    throw UnimplementedError();
  }
}
  
  