import 'package:flutter_modular/flutter_modular.dart';

class {{module.pascalCase}}Routers {
  //{{module.titleCase}}

  static void pop<T extends Object>([T? result]) {
    if (result != null) {
      Modular.to.pop(result);
      return;
    }

    Modular.to.pop();
  }

  {{module.pascalCase}}Routers._();
}
